<%- include('partials/head') %>
    <%- include('partials/nav') %>
        <main class="container">
            <h1>Editing <%= tweet.username %>'s tweet</h1>
            <form action="/tweets/<%=  tweet._id  %>?_method=PATCH" method="POST">
                <textarea name="tweetText" id="" cols="30" rows="5"><%= tweet.tweetText  %></textarea>
                <br>
                <button class="btn btn-small">Submit</button>
            </form>
            <a href="/tweets/<%= tweet._id  %>" class="btn btn-small" id="cancelButton">Cancel</a>
        </main>
<%- include('partials/footer') %>