<%- include('partials/head') %>
    <%- include('partials/nav') %>
        <main class="container">
            <h1>List of all Tweets</h1>
            <ul class="tweet-container">
                <% for(let tweet of tweets){ %>
                    <li>
                        <%= tweet.tweet %>  - <b><%= tweet.username %> </b>
                        <a href="/tweets/<%= tweet.id %>" class="btn btn-small">View</a>
                    </li>
                <% } %>
            </ul>
            <a href="/tweets/new" class="btn btn-med">Create a new tweet</a>
        </main>
<%- include('partials/footer') %>