<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
        <main class="container">
            <h1>Viewing <%=  tweet.username  %>'s tweet</h1>
            <p>Tweet - <%= tweet.text %></p>
            <p>id: <%= tweet._id %></p>
            <a href="/tweets" class="btn btn-small">Go back to all tweets</a>
            <a href="/tweets/<%= tweet.id %>/edit" class="btn btn-small">Edit</a>
            <form action="/tweets/<%= tweet.id %>?_method=DELETE" method="POST" id="deleteForm">
                <button id="deleteButton" class="btn btn-small">Delete</button>
            </form>
    </main>
<%- include('../partials/footer') %>