<%- include('../partials/head') %>
    <%- include('../partials/nav') %>
        <main class="container">
            <h1>List of all Users</h1>
            <ul class="tweet-container">
                <% for(let user of users){ %>
                    <li>
                        <%= user.username %>  - <b><%= user.city %> </b>
                        <a href="/user/<%= user._id %>" class="btn btn-small">View Profile</a>
                    </li>
                <% } %>
            </ul>
            <a href="/tweets/new" class="btn btn-med">Create a new tweet</a>
        </main>
<%- include('../partials/footer') %>